<div class="template template-second flex flex-col gap-8 items-center">
  <p class="text-xl">Which emotion best describes you right now?</p>
  <form class="form-first min-w-[400px]">
    <input type="text" class="border border-stone-950 rounded-2xl min-h-16 w-full px-3" name="emotionDescription">
    <div class="flex gap-4 mt-8 w-full">
      <button
        class="submit-first-form next-btn w-full text-lime-950 bg-transparent border border-lime-950 hover:bg-slate-800 hover:text-white font-medium rounded-lg text-lg px-5 py-2.5 text-center">
        <p>Done</p>
      </button>
      <button
        class="next-btn w-full py-2.5 px-5 ms-3 text-lg font-medium text-lime-950 bg-white rounded-lg border border-gray-200 hover:text-slate-500">
        <p>Skip</p>
      </button>
    </div>
  </form>
</div>