  {{!-- <ui-loader loading="{{isLoading}}"></ui-loader> --}}
<div class="min-h-screen grid grid-rows-layout bg-slate-800">
  <div class="flex justify-between items-center h-24 py-5 px-24 bg-purple-100">
    <button class="border border-lime-950 p-2 rounded-lg">
      <i class="icon-arrow-big-left text-indigo-500 w-5 h-5"></i>
      <router-link href="${props.routes.userHome}" label="Back to Lobby" class="text-lime-950 text-xl"></router-link>
    </button>

    <nav class="flex items-center gap-8">
      <router-link href="${props.routes.userHome}" label="Mood Tracker" class="text-lime-950 text-xl"></router-link>
      <router-link href="${props.routes.userHome}" label="Diary" class="text-lime-950 text-xl"></router-link>
    </nav>
  </div>

  <div class="todo my-8 mx-auto px-4 md:px-12 lg:px-32 flex gap-4 grid grid-cols-2 grid-cols-layout">
    <div class="todo__col bg-slate-50 border border-lime-950 min-w-[300px] p-4 flex flex-col gap-4 rounded-lg">
      <div class="todo__col-name border-b-2 border-lime-950 p-4 flex items-center gap-4">
        <h3 class="text-2xl">Categories</h1>
        <i class="icon-badge-plus create-category"></i>
      </div>
      <div class="todo__categories space-y-4">
        <button
          data-type="major"
          class="active category flex items-center justify-center text-lg h-16 w-full border border-lime-950 bg-purple-100">
        Major</button>
        <button
          data-type="minor"
          class="category flex items-center justify-center text-lg h-16 w-full border border-lime-950 bg-purple-100">
        Minor</button>
        <button
          data-type="trivial"
          class="category flex items-center justify-center text-lg h-16 w-full border border-lime-950 bg-purple-100">
        Trivial</button>
      </div>
    </div>

    <div class="todo__col bg-slate-50 min-w-[300px] md:min-w-[1000px] border border-lime-950 p-4 w-full rounded-lg">
      <div class="todo__col-name border-b-2 border-lime-950 p-4 flex items-center gap-4">
        <h3 class="text-2xl">ToDo</h1>
        <i class="icon-badge-plus create-task"></i>
      </div>
      <div class="todo__tasks">
        <div class="category-content todo__major major hidden">major</div>
        <div class="category-content todo__minor minor hidden">minor</div>
        <div class="category-content todo__trivial trivial hidden">trivial</div>
      </div>
    </div>
  </div>
</div>