<form class="create-category-form flex flex-col gap-3">
  <label class="w-full">
    <p class="text-sm text-black">Title</p>
    <input type="text" name="title" class="p-2 w-full border rounded" />
  </label>

  <label>
    <p class="text-sm text-black">Select Color</p>
    <select name="categoryColor" class="p-2 w-full border rounded">
      {{#each colors}}
      <option>
        <div>{{this.name}} <p class="hidden text-white">{{this.color}}</p></div>
      </option>
      {{/each}}
    </select>
</form>