<form class="create-category-form flex flex-col gap-3">
  <label class="w-full">
    <p class="text-sm text-black">Title</p>
    <input type="text" name="title" class="p-2 w-full border rounded" />
  </label>
</form>