<div class="border border-l-4 w-full p-2 mt-4 rounded min-h-24 flex items-center">
  <input data-id="{{id}}" type="checkbox" class="h-6 w-6">
  <div class="ml-3 w-full flex justify-between">
    <div class="w-9/12">
      <h3 class="line-clamp-1 text-lg">{{title}}</h3>
      <p class="line-clamp-3">{{description}}</p>
    </div>

    <button data-id="{{id}}" class="delete-task-btn mr-3"><i class="icon-badge-x"></i></button>
  </div>

</div>