<div class="border border-l-4 w-full p-2 rounded cursor-pointer">
  <h3 class="line-clamp-1">{{title}}</h3>
  <p class="line-clamp-3">{{description}}</p>
  <div class="flex gap-2">
    <div class="{{category}}"></div>
  </div>
</div>